presentations/love-and-law/index.html
<!DOCTYPE html>
<html lang="en">
<!-- Declare Variable -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Love and Law</title>
<meta content="Love and Law" name="description">
<meta content="Jon Cairns" name="author">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<link href="https://cdn.jsdelivr.net/npm/reveal.js@3.6.0/css/reveal.css" rel="stylesheet">
<link href="/presentations/reveal-theme.css" id="theme" rel="stylesheet">
<!-- For syntax highlighting -->
<link href="https://cdn.jsdelivr.net/npm/reveal.js@3.6.0/lib/css/zenburn.css" rel="stylesheet">
<!-- If the query includes 'print-pdf', use the PDF print sheet -->
<script>
  document.write( '<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@3.6.0/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
</script>
<!--[if lt IE 9]>
<script src="https://cdn.jsdelivr.net/npm/reveal.js@3.6.0/lib/js/html5shiv.js"></script>
<![endif]-->
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/reveal.js@3.6.0/lib/js/head.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js@3.6.0/js/reveal.js"></script>
<div class="reveal">
<div class="slides">
<section>
<h1>Love and law</h1>
<h5>Mark 2:23 - 3:6</h5>
</section>
<section>
<article passage="Mark 2:23-24"><h2 class="extra_text">Mark 2:23–24</h2>
<p id="p41002023_07-1"><b class="verse-num" id="v41002023-1">23 </b>One Sabbath [Jesus] was going through the grainfields, and as they made their way, his disciples began to pluck heads of grain. <b class="verse-num" id="v41002024-1">24 </b>And the Pharisees were saying to him, “Look, why are they doing what is not lawful on the Sabbath?”</p>
<p class="copyright"><a href="http://www.esv.org">ESV</a></p></article>
</section>
<section>
<article passage="Mark 2:25-28" show_title="false"><p id="p41002025_01-1" class="virtual"><b class="verse-num" id="v41002025-1">25 </b>And he said to them, <span class="woc">“Have you never read what David did, when he was in need and was hungry, he and those who were with him:</span> <b class="verse-num woc" id="v41002026-1">26 </b><span class="woc">how he entered the house of God, in the time of Abiathar the high priest, and ate the bread of the Presence, which it is not lawful for any but the priests to eat, and also gave it to those who were with him?”</span> <b class="verse-num" id="v41002027-1">27 </b>And he said to them, <span class="woc">“The Sabbath was made for man, not man for the Sabbath.</span> <b class="verse-num woc" id="v41002028-1">28 </b><span class="woc">So the Son of Man is lord even of the Sabbath.”</span></p>
<p class="copyright"><a href="http://www.esv.org">ESV</a></p></article>
</section>
<section>
<article passage="Mark 3:1-2"><h2 class="extra_text">Mark 3:1–2</h2>
<p id="p41003001_07-1" class="starts-chapter"><b class="chapter-num" id="v41003001-1">3:1 </b>Again he entered the synagogue, and a man was there with a withered hand. <b class="verse-num" id="v41003002-1">2 </b>And they watched Jesus, to see whether he would heal him on the Sabbath, so that they might accuse him.</p>
<p class="copyright"><a href="http://www.esv.org">ESV</a></p></article>
</section>
<section>
<article passage="Mark 3:3-6" show_title="false"><p id="p41003003_01-1" class="virtual"><b class="verse-num" id="v41003003-1">3 </b>And he said to the man with the withered hand, <span class="woc">“Come here.”</span> <b class="verse-num" id="v41003004-1">4 </b>And he said to them, <span class="woc">“Is it lawful on the Sabbath to do good or to do harm, to save life or to kill?”</span> But they were silent. <b class="verse-num" id="v41003005-1">5 </b>And he looked around at them with anger, grieved at their hardness of heart, and said to the man, <span class="woc">“Stretch out your hand.”</span> He stretched it out, and his hand was restored. <b class="verse-num" id="v41003006-1">6 </b>The Pharisees went out and immediately held counsel with the Herodians against him, how to destroy him.</p>
<p class="copyright"><a href="http://www.esv.org">ESV</a></p></article>
</section>
<section>
<h3>The Pharisees</h3>
<ul>
<li class="fragment">Religious leaders; considered to be experts in the law and Scriptures</li>
</ul>
<aside class="notes">
<div class="nfragment">
They enjoyed the respect of the Jewish community. They were used to being _the_ authority on all things to do with religion.
<br>
Jesus was stealing their thunder. Out of nowhere, a 30 year-old carpenter with no formal training starts attracting huge crowds of people with his unprecedented teaching and incredible miracles.
<br>
The Pharisees were literally following Jesus and his disciples around, trying to find any reason to condemn him and turn public opinion against him. In this passage, they are levelling a charge at Jesus and His disciples of breaking a specific law: the law of the Sabbath.
</div>
</aside>
</section>
<section>
<h3>The Sabbath</h3>
<article class="fragment" passage="Exodus 20:8-10"><h2 class="extra_text">Exodus 20:8–10</h2>
<p id="p02020008_01-1"><b class="verse-num" id="v02020008-1">8 </b>“Remember the Sabbath day, to keep it holy. <b class="verse-num" id="v02020009-1">9 </b>Six days you shall labor, and do all your work, <b class="verse-num" id="v02020010-1">10 </b>but the seventh day is a Sabbath to the LORD your God. On it you shall not do any work...</p>
<p class="copyright"><a href="http://www.esv.org">ESV</a></p></article>
<aside class="notes"><div><ul></ul></div>
<div><li>The fourth of the ten commandments, spoken by God to Moses and written in to what we call the Old Testament.</li></div>
<div><li>It refers back to the creation of the world; as God rested on the 7th day, so should we rest.</li></div>
<div><li>Sabbath law, therefore, is the list of things that you can and can't do on the Sabbath day.</li></div>
<div></div></aside>
</section>
<section>
<h3>
A day of
<del>rest</del>
rules
</h3>
<ul>
<li class="fragment">People like to create laws</li>
</ul>
<aside class="notes"><div><ul></ul></div>
<div><li>What is considered "work"?</li></div>
<div><li>The answer has mostly been decided by people - religious leaders. They have written the law on what is permissable on Sabbath, and what isn't.</li></div>
<div><li>If you were to travel to Israel today, you would find a culture that has formed itself around the observance of the Sabbath. If you follow a strict interpretation of Sabbath law, that means you can't drive a car on the Sabbath. You can't operate electrical switches, so that means no lights. You might find Sabbath lifts, which automatically stop at each floor, so you don't have to push a button and therefore "do work" on the Sabbath.</li></div>
<div><li>You won't find anything in the Old Testament about operating electrical switches or driving a car on the Sabbath. You also won't find anything specifically prohibiting the picking of wheat, or healing shrivelled hands.</li></div>
<div></div>
<div><ul class="nfragment"></ul></div>
<div><li>This is what societies do. Do you know how many laws we have in the UK? There are so many that there is no definitive answer. In 2010 alone, the Government introuced 3,506 brand new laws.</li></div>
<div><li>What happens when so many laws are added? The meaning gets lost.</li></div>
<div><li>"It is illegal to be drunk in the pub"</li></div>
<div><li>"It is illegal to handle a salmon in suspicious circumstances"</li></div>
<div></div></aside>
</section>
<section>
<h3>Offence 1: picking grain in the field</h3>
<ul>
<li class="fragment call">"Why are they doing what is not lawful on the Sabbath?" (2:24)</li>
<li class="fragment response">"Have you never read...?" (2:25)</li>
</ul>
<aside class="notes">
<div class="nfragment">
This was the question the Pharisees asked Jesus when they saw his disciples picking grain from the field. But it wasn't a question that was seeking an answer. It was an accusation. They thought they'd caught Jesus out in disobeying the law.
</div>
<div class="nfragment">
Jesus' response: "Have you never read...?" He retold the story of how King David himself broke the OT law when he was hungry, and follows it up with this statement: "The Sabbath was made for man, not man for the Sabbath". In this, he is saying that Sabbath should be a blessing to us, a day that serves and benefits us, not a series of rules and ordinances that bind and control us. Jesus is the reason that we no longer have strict adherence to the Sabbath, as in Jewish culture.
</div>
</aside>
</section>
<section>
<h3>Offence 2: healing a withered hand</h3>
<ul>
<li class="fragment call">"They watched Jesus... so that they might accuse him" (3:2)</li>
<li class="fragment response">"Is it lawful on the Sabbath to do good or to do harm, to save life or to kill?" (3:4)</li>
</ul>
<aside class="notes">
<div class="nfragment">
It's clear by this point that the Pharisees have no intention of listening to Jesus. They are still trying to catch him out, still judging his every move. They know that Jesus is compassionate, and that he will want to heal the man in the Synagogue. But they place their interpretation of the law higher than love and compassion.
</div>
<div class="nfragment">
How could releasing a man from a lifelong affliction be offensive to God? If Jesus, with the power to heal, ignored the man with the withered hand, who is that blessing? What kind of theology do you have to have where that is pleasing to God? Jesus looked at them with anger, which is an emotion that Jesus saved for those who called themselves religious. He grieved at the hardness of their hearts.
</div>
</aside>
</section>
<section>
<h3>The religious spirit</h3>
<ul>
<li class="fragment">Places law above love</li>
</ul>
<aside class="notes">
<div>
The Pharisees were driven by something called the religious spirit:
</div>
<div class="nfragment">
They had cultivated an endless list of rules and observances for the Sabbath day. They used it as a whip for people who fell short. Their laws existed as a platform for them to show the rest of the world how holy they were. The religious spirit is in direct opposition to grace. They saw Jesus portraying grace, love and mercy, but to them it just looked like breaking the rules.
</div>
</aside>
</section>
<section>
<h3>Was Jesus anti-law?</h3>
<div class="fragment">
<hr>
<article passage="Matthew 5:17"><h2 class="extra_text">Matthew 5:17</h2>
<p id="p40005017_07-1"><b class="verse-num woc" id="v40005017-1">17 </b><span class="woc">“Do not think that I have come to abolish the Law or the Prophets; I have not come to abolish them but to fulfill them.</span></p>
<p class="copyright"><a href="http://www.esv.org">ESV</a></p></article>
</div>
<aside class="notes">
<div>
He made a very deliberate point about not being ruled by the laws of the Sabbath. But was he saying that all law is bad?
</div>
<div class="nfragment">
Fulfill in this sense means to "reveal in its fullness". He's not saying that we no longer pay any attention to the ten commandments. Jesus reveals the true meaning of the law.
For example, let's imagine I'm at home, cooking some salmon for my tea, and the police break my door down and arrest me on the grounds of handling a salmon in suspicious circumstances. I end up in a court, facing a judge, who has the final verdict. And he says, "this is ridiculous. The reason for that law is to protect against illegal fishing of salmon. The whole intention of the law has been misunderstood".
The judge reveals the meaning of the law, he doesn't just enforce it without question. In the same way, Jesus shows us the true meaning of the laws written in the Bible.
Through the life and death of Jesus Christ, the spirit of the law is revealed. Not simply what to do, but why to do it. We shouldn't have a Sabbath day because the law says so, we should have one because it benefits us.
</div>
</aside>
</section>
<section>
<h3>Jesus brings freedom</h3>
<aside class="notes"><div>Jesus gives us freedom from living under the judgement of the law. No matter how hard we try to follow the rules, it's not enough. Have we ever not loved our neighbour? Have we ever taken God's name in vain? Have we missed a Sabbath? By ourselves, we cannot hope to live up to God's standards - He requires perfection. There has been, and always will be, only one person who meets his standards - Jesus Christ, the Son of God. And He died on a cross, taking the punishment of our sin on his shoulders. Every time we've fallen short of the law, he paid for it with his blood. If you haven't yet put your trust in Jesus, now is the time - freedom is available to everyone.</div></aside>
</section>
</div>
</div>
<script>
  // Full list of configuration options available here:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,
      theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: 'fade', // none/fade/slide/convex/concave/zoom
      transitionSpeed: 'slow', // default/fast/slow
      backgroundTransition: 'fade', // none/fade/slide/convex/concave/zoom
      pubnubRemoteControl: {
        subscribeKey: 'sub-c-5cb758ce-09f4-11e8-b131-0a982f425d04',    // PubNub subscribe key,
        publishKey: 'pub-c-5c10c031-0aa8-4fb8-ab0d-0a865b0f32d8',        // PubNub publish key
      },
  
      // Optional libraries used to extend on reveal.js
      dependencies: [
          { src: 'https://cdn.jsdelivr.net/npm/reveal.js@3.6.0/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'https://cdn.jsdelivr.net/npm/reveal.js@3.6.0/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'https://cdn.jsdelivr.net/npm/reveal.js@3.6.0/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'https://cdn.jsdelivr.net/npm/reveal.js@3.6.0/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'https://cdn.jsdelivr.net/npm/reveal.js@3.6.0/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'https://cdn.jsdelivr.net/npm/reveal.js@3.6.0/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'https://cdn.pubnub.com/sdk/javascript/pubnub.4.20.1.min.js', async: true },
          { src: '/presentations/reveal/plugin/pubnub-remote-control/index.js', async: true }
      ]
  });
</script>
</body>
</html>

presentations/love-and-law/index.haml
<!doctype html>
%html{lang: "en"}
  / Declare Variable
  - reveal_root = 'https://cdn.jsdelivr.net/npm/reveal.js@3.6.0'
  %head
    %meta{charset: "utf-8"}/
    %title Love and Law
    %meta{content: "Love and Law", name: "description"}/
    %meta{content: "Jon Cairns", name: "author"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black-translucent", name: "apple-mobile-web-app-status-bar-style"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %link{href: "#{reveal_root}/css/reveal.css", rel: "stylesheet"}/
    %link#theme{href: "/presentations/reveal-theme.css", rel: "stylesheet"}/
    / For syntax highlighting
    %link{href: "#{reveal_root}/lib/css/zenburn.css", rel: "stylesheet"}/
    / If the query includes 'print-pdf', use the PDF print sheet
    :javascript
      document.write( '<link rel="stylesheet" href="#{reveal_root}/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    /[if lt IE 9]
      <script src="#{reveal_root}/lib/js/html5shiv.js"></script>
  %body
    %script{src: "#{reveal_root}/lib/js/head.min.js"}
    %script{src: "#{reveal_root}/js/reveal.js"}

    .reveal
      .slides
        %section
          %h1 Love and law
          %h5 Mark 2:23 - 3:6

        %section
          %article{passage: "Mark 2:23-24"}

        %section
          %article{passage: "Mark 2:25-28", show_title: "false"}

        %section
          %article{passage: "Mark 3:1-2"}

        %section
          %article{passage: "Mark 3:3-6", show_title: "false"}

        %section
          %h3 The Pharisees
          %ul
            %li.fragment Religious leaders; considered to be experts in the law and Scriptures

          %aside.notes
            .nfragment
              They enjoyed the respect of the Jewish community. They were used to being _the_ authority on all things to do with religion.
              %br
              Jesus was stealing their thunder. Out of nowhere, a 30 year-old carpenter with no formal training starts attracting huge crowds of people with his unprecedented teaching and incredible miracles.
              %br
              The Pharisees were literally following Jesus and his disciples around, trying to find any reason to condemn him and turn public opinion against him. In this passage, they are levelling a charge at Jesus and His disciples of breaking a specific law: the law of the Sabbath.

        %section
          %h3 The Sabbath
          %article.fragment{passage: "Exodus 20:8-10"}
          %aside.notes
            %ul
              %li The fourth of the ten commandments, spoken by God to Moses and written in to what we call the Old Testament.
              %li It refers back to the creation of the world; as God rested on the 7th day, so should we rest.
              %li Sabbath law, therefore, is the list of things that you can and can't do on the Sabbath day.

        %section
          %h3
            A day of
            %del rest
            rules
          %ul
            %li.fragment People like to create laws

          %aside.notes
            %ul
              %li What is considered "work"?
              %li The answer has mostly been decided by people - religious leaders. They have written the law on what is permissable on Sabbath, and what isn't.
              %li If you were to travel to Israel today, you would find a culture that has formed itself around the observance of the Sabbath. If you follow a strict interpretation of Sabbath law, that means you can't drive a car on the Sabbath. You can't operate electrical switches, so that means no lights. You might find Sabbath lifts, which automatically stop at each floor, so you don't have to push a button and therefore "do work" on the Sabbath.
              %li You won't find anything in the Old Testament about operating electrical switches or driving a car on the Sabbath. You also won't find anything specifically prohibiting the picking of wheat, or healing shrivelled hands.

            %ul.nfragment
              %li This is what societies do. Do you know how many laws we have in the UK? There are so many that there is no definitive answer. In 2010 alone, the Government introuced 3,506 brand new laws.
              %li What happens when so many laws are added? The meaning gets lost.
              %li "It is illegal to be drunk in the pub"
              %li "It is illegal to handle a salmon in suspicious circumstances"

        %section
          %h3 Offence 1: picking grain in the field
          %ul
            %li.fragment.call "Why are they doing what is not lawful on the Sabbath?" (2:24)
            %li.fragment.response "Have you never read...?" (2:25)

          %aside.notes
            .nfragment
              This was the question the Pharisees asked Jesus when they saw his disciples picking grain from the field. But it wasn't a question that was seeking an answer. It was an accusation. They thought they'd caught Jesus out in disobeying the law.

            .nfragment
              Jesus' response: "Have you never read...?" He retold the story of how King David himself broke the OT law when he was hungry, and follows it up with this statement: "The Sabbath was made for man, not man for the Sabbath". In this, he is saying that Sabbath should be a blessing to us, a day that serves and benefits us, not a series of rules and ordinances that bind and control us. Jesus is the reason that we no longer have strict adherence to the Sabbath, as in Jewish culture.

        %section
          %h3 Offence 2: healing a withered hand
          %ul
            %li.fragment.call "They watched Jesus... so that they might accuse him" (3:2)
            %li.fragment.response "Is it lawful on the Sabbath to do good or to do harm, to save life or to kill?" (3:4)

          %aside.notes

            .nfragment
              It's clear by this point that the Pharisees have no intention of listening to Jesus. They are still trying to catch him out, still judging his every move. They know that Jesus is compassionate, and that he will want to heal the man in the Synagogue. But they place their interpretation of the law higher than love and compassion.

            .nfragment
              How could releasing a man from a lifelong affliction be offensive to God? If Jesus, with the power to heal, ignored the man with the withered hand, who is that blessing? What kind of theology do you have to have where that is pleasing to God? Jesus looked at them with anger, which is an emotion that Jesus saved for those who called themselves religious. He grieved at the hardness of their hearts.

        %section
          %h3 The religious spirit
          %ul
            %li.fragment Places law above love

          %aside.notes
            %div
              The Pharisees were driven by something called the religious spirit:

            .nfragment
              They had cultivated an endless list of rules and observances for the Sabbath day. They used it as a whip for people who fell short. Their laws existed as a platform for them to show the rest of the world how holy they were. The religious spirit is in direct opposition to grace. They saw Jesus portraying grace, love and mercy, but to them it just looked like breaking the rules.

        %section
          %h3 Was Jesus anti-law?
          .fragment
            %hr
            %article{passage: "Matthew 5:17"}

          %aside.notes
            %div
              He made a very deliberate point about not being ruled by the laws of the Sabbath. But was he saying that all law is bad?

            .nfragment
              Fulfill in this sense means to "reveal in its fullness". He's not saying that we no longer pay any attention to the ten commandments. Jesus reveals the true meaning of the law.

              For example, let's imagine I'm at home, cooking some salmon for my tea, and the police break my door down and arrest me on the grounds of handling a salmon in suspicious circumstances. I end up in a court, facing a judge, who has the final verdict. And he says, "this is ridiculous. The reason for that law is to protect against illegal fishing of salmon. The whole intention of the law has been misunderstood".

              The judge reveals the meaning of the law, he doesn't just enforce it without question. In the same way, Jesus shows us the true meaning of the laws written in the Bible.

              Through the life and death of Jesus Christ, the spirit of the law is revealed. Not simply what to do, but why to do it. We shouldn't have a Sabbath day because the law says so, we should have one because it benefits us.

        %section
          %h3 Jesus brings freedom

          %aside.notes
            Jesus gives us freedom from living under the judgement of the law. No matter how hard we try to follow the rules, it's not enough. Have we ever not loved our neighbour? Have we ever taken God's name in vain? Have we missed a Sabbath? By ourselves, we cannot hope to live up to God's standards - He requires perfection. There has been, and always will be, only one person who meets his standards - Jesus Christ, the Son of God. And He died on a cross, taking the punishment of our sin on his shoulders. Every time we've fallen short of the law, he paid for it with his blood. If you haven't yet put your trust in Jesus, now is the time - freedom is available to everyone.


    :javascript
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
          controls: true,
          progress: true,
          history: true,
          center: true,
          theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
          transition: 'fade', // none/fade/slide/convex/concave/zoom
          transitionSpeed: 'slow', // default/fast/slow
          backgroundTransition: 'fade', // none/fade/slide/convex/concave/zoom
          pubnubRemoteControl: {
            subscribeKey: 'sub-c-5cb758ce-09f4-11e8-b131-0a982f425d04',    // PubNub subscribe key,
            publishKey: 'pub-c-5c10c031-0aa8-4fb8-ab0d-0a865b0f32d8',        // PubNub publish key
          },

          // Optional libraries used to extend on reveal.js
          dependencies: [
              { src: '#{reveal_root}/lib/js/classList.js', condition: function() { return !document.body.classList; } },
              { src: '#{reveal_root}/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '#{reveal_root}/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '#{reveal_root}/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: '#{reveal_root}/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
              { src: '#{reveal_root}/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
              { src: 'https://cdn.pubnub.com/sdk/javascript/pubnub.4.20.1.min.js', async: true },
              { src: '/presentations/reveal/plugin/pubnub-remote-control/index.js', async: true }
          ]
      });
