presentations/chewy/index.haml
<!doctype html>
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Chewing on Elastic
    %meta{content: "Chewing on Elastic", name: "description"}/
    %meta{content: "Jon Cairns", name: "author"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black-translucent", name: "apple-mobile-web-app-status-bar-style"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %link{href: "../reveal/css/reveal.min.css", rel: "stylesheet"}/
    %link{href: "../extra.css", rel: "stylesheet"}/
    %link#theme{href: "../reveal/css/theme/solarized.css", rel: "stylesheet"}/
    / For syntax highlighting
    %link{href: "../reveal/lib/css/zenburn.css", rel: "stylesheet"}/
    / If the query includes 'print-pdf', use the PDF print sheet
    :javascript
      document.write( '<link rel="stylesheet" href="../reveal/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    /[if lt IE 9]
      <script src="../reveal/lib/js/html5shiv.js"></script>
  %body
    %script{src: "../reveal/lib/js/head.min.js"}
    %script{src: "../reveal/js/reveal.min.js"}

    .reveal
      .slides
        %section
          %h1{style: "text-transform: lowercase;"} Chewing on Elastic
          %h2 Using Elasticsearch with the Chewy gem
          %p
            %small
              %a{href: "http://joncairns.com"} Jon Cairns
              \/
              %a{href: "http://twitter.com/joonty"} @joonty

        %section
          %h2 What is elasticsearch?
          %ul
            %li.fragment A database, basically
            %li.fragment A search engine
            %li.fragment Document orientated, no upfront schema definition
            %li.fragment Distributed and scalable
            %li.fragment RESTful HTTP API
            %li.fragment Ruddy quick

        %section
          %h2 Why and when would I use it?
          %ul
            %li.fragment When you need full text search
            %li.fragment Relevance and scoring on results
            %li.fragment Implementing auto-suggestion
            %li.fragment A way of normalising complex datasets for faster and easier querying
            %li.fragment Searches involving things like latitude and longitude distance calculations
            %li.fragment Other reasons (ask Omar)

        %section
          %h2 Let's see it in action!

        %section
          %h2 Rails integration
          %p Library options include:
          %ul
            %li.fragment
              %b tire
              %span (now retired) - not compatible with elasticsearch &gt; 1
            %li.fragment
              %b elasticsearch-rails
              %span - aimed at 1:1 mapping between your models and ES indices
            %li.fragment
              %b chewy
              %span - flexible index builder, good index management, nice query interface

        %section
          %section
            %h2 Setting it up
            %p Add chewy to your Gemfile:
            %pre
              %code.ruby{include: "scripts/gemfile.rb"}

          %section
            %h3 Setting it up
            %p Add a config/chewy.yml file:
            %pre
              %code.yaml{include: "scripts/chewy.yml"}

        %section
          %section
            %h2 Creating an index
            %p
              Create a subclass of
              %span.code Chewy::Index
              somehwere (I created a directory
              %span.code app/searches
              )
            %pre
              %code.ruby{include: "scripts/index_1.rb"}

          %section
            %h3 Creating an index
            %p Define a type from your ActiveRecord model, using conditions and scopes
            %pre
              %code.ruby{include: "scripts/index_2.rb"}

          %section
            %h3 Creating an index
            %p Add attributes to the index
            %pre
              %code.ruby{include: "scripts/index_3.rb"}

          %section
            %h3 Creating an index
            %p Add more attributes...
            %pre
              %code.ruby{include: "scripts/index_4.rb"}


        %section
          %section
            %h2 Doing a query
            %p
              Elasticsearch's
              %span.code query
              is used when you want to bring back results that may not match perfectly, and want to score them.
            %pre
              %code.ruby{include: "scripts/query_1.rb"}

          %section
            %h3 Doing a query
            %p Like ActiveRecord, it uses lazy loading to only retrieve the data when you finish your querying.
            %pre
              %code.ruby{include: "scripts/query_2.rb"}

          %section
            %h3 Doing a query
            %p
              %span.code filter
              is like
              %span.code query
              , but for when you want to reduce the matching set with exact values.
            %pre
              %code.ruby{include: "scripts/query_3.rb"}

          %section
            %h3 Doing a query
            %p Filters have some advanced syntax, but all they're doing under the hood is converting to a JSON format. You can pick and choose what style you use.
            %pre
              %code.ruby{include: "scripts/query_4.rb"}

          %section
            %h3 Doing a query
            %p You can order and limit in exactly the same way as ActiveRecord.
            %pre
              %code.ruby{include: "scripts/query_5.rb"}

        %section
          %section
            %h2 Keeping indices up to date
            %p Chewy is pretty clever about updating indices whenever you modify relevant ActiveRecord models.

            %pre
              %code.ruby{include: "scripts/update_index_1.rb"}

            %p.fragment This automatically updates indices incrementally when you do updates, creates and deletes.

          %section
            %h3 Keeping indices up to date
            %p You can trigger index changes when related models are modified

            %pre
              %code.ruby{include: "scripts/update_index_2.rb"}

            %p.fragment This automatically updates indices incrementally when you do updates, creates and deletes.

          %section
            %h3 Keeping indices up to date
            %p You can also update them with batch operations:

            %pre
              %code.ruby{include: "scripts/update_index_3.rb"}

            %p.fragment Handy for adding elasticsearch to your project after you have existing data.

        %section
          %h2 And there's lots more!
          %p.fragment
            %a{href: "https://www.elastic.co/guide/en/elasticsearch/guide/current/index.html"} Lots of elasticsearch documentation
          %p.fragment
            %a{href: "https://github.com/toptal/chewy"} Lots of chewy documentation

        %section
          %h2 The end
          %p Questions?
          %p.fragment Ask Omar

    :javascript
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
          controls: true,
          progress: true,
          history: true,
          center: true,
          theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
          transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

          // Optional libraries used to extend on reveal.js
          dependencies: [
              { src: '../reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
              { src: '../reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '../reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '../reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: '../reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
              { src: '../reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
          ]
      });

presentations/chewy/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>Chewing on Elastic</title>
    <meta content="Chewing on Elastic" name="description">
    <meta content="Jon Cairns" name="author">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link href="../reveal/css/reveal.min.css" rel="stylesheet">
    <link href="../extra.css" rel="stylesheet">
    <link href="../reveal/css/theme/solarized.css" id="theme" rel="stylesheet">
    <!-- For syntax highlighting -->
    <link href="../reveal/lib/css/zenburn.css" rel="stylesheet">
    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="../reveal/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>
    <!--[if lt IE 9]>
      <script src="../reveal/lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <script src="../reveal/lib/js/head.min.js"></script>
    <script src="../reveal/js/reveal.min.js"></script>
    <div class="reveal">
      <div class="slides">
        <section>
          <h1 style="text-transform: lowercase;">Chewing on Elastic</h1>
          <h2>Using Elasticsearch with the Chewy gem</h2>
          <p>
            <small>
              <a href="http://joncairns.com">Jon Cairns</a>
              /
              <a href="http://twitter.com/joonty">@joonty</a>
            </small>
          </p>
        </section>
        <section>
          <h2>What is elasticsearch?</h2>
          <ul>
            <li class="fragment">A database, basically</li>
            <li class="fragment">A search engine</li>
            <li class="fragment">Document orientated, no upfront schema definition</li>
            <li class="fragment">Distributed and scalable</li>
            <li class="fragment">RESTful HTTP API</li>
            <li class="fragment">Ruddy quick</li>
          </ul>
        </section>
        <section>
          <h2>Why and when would I use it?</h2>
          <ul>
            <li class="fragment">When you need full text search</li>
            <li class="fragment">Relevance and scoring on results</li>
            <li class="fragment">Implementing auto-suggestion</li>
            <li class="fragment">A way of normalising complex datasets for faster and easier querying</li>
            <li class="fragment">Searches involving things like latitude and longitude distance calculations</li>
            <li class="fragment">Other reasons (ask Omar)</li>
          </ul>
        </section>
        <section>
          <h2>Let's see it in action!</h2>
        </section>
        <section>
          <h2>Rails integration</h2>
          <p>Library options include:</p>
          <ul>
            <li class="fragment">
              <b>tire</b>
              <span>(now retired) - not compatible with elasticsearch &gt; 1</span>
            </li>
            <li class="fragment">
              <b>elasticsearch-rails</b>
              <span>- aimed at 1:1 mapping between your models and ES indices</span>
            </li>
            <li class="fragment">
              <b>chewy</b>
              <span>- flexible index builder, good index management, nice query interface</span>
            </li>
          </ul>
        </section>
        <section>
          <section>
            <h2>Setting it up</h2>
            <p>Add chewy to your Gemfile:</p>
            <pre><code class="ruby">
gem 'chewy'

</code></pre>
          </section>
          <section>
            <h3>Setting it up</h3>
            <p>Add a config/chewy.yml file:</p>
            <pre><code class="yaml">
test:
  host: 'localhost:9250'
  prefix: 'test'
development:
  host: 'localhost:9200'

</code></pre>
          </section>
        </section>
        <section>
          <section>
            <h2>Creating an index</h2>
            <p>
              Create a subclass of
              <span class="code">Chewy::Index</span>
              somehwere (I created a directory
              <span class="code">app/searches</span>
              )
            </p>
            <pre><code class="ruby">
class ListingsIndex &lt; Chewy::Index

end

</code></pre>
          </section>
          <section>
            <h3>Creating an index</h3>
            <p>Define a type from your ActiveRecord model, using conditions and scopes</p>
            <pre><code class="ruby">
class ListingsIndex &lt; Chewy::Index
  define_type Listing.all.includes(:channel) do
  end
end

</code></pre>
          </section>
          <section>
            <h3>Creating an index</h3>
            <p>Add attributes to the index</p>
            <pre><code class="ruby">
class ListingsIndex &lt; Chewy::Index
  define_type Listing.all.includes(:channel) do
    field :title

    field :desc, analyzer: "snowball"

    field :has_subtitles, type: "boolean"

    field :year, type: "integer"
  end
end

</code></pre>
          </section>
          <section>
            <h3>Creating an index</h3>
            <p>Add more attributes...</p>
            <pre><code class="ruby">
class ListingsIndex &lt; Chewy::Index
  define_type Listing.all.includes(:channel) do
    #...
    field :actors, type: "object", analyzer: "keyword"

    field :start_at, :stop_at, type: "date", include_in_all: false

    field :channel_name, value: -&gt; (listing) { listing.channel.name }
  end
end

</code></pre>
          </section>
        </section>
        <section>
          <section>
            <h2>Doing a query</h2>
            <p>
              Elasticsearch's
              <span class="code">query</span>
              is used when you want to bring back results that may not match perfectly, and want to score them.
            </p>
            <pre><code class="ruby">
ListingsIndex.
  query(fuzzy: { title: "gearr" }).
  limit(100).
  to_a
# =&gt; Brings back 100 listings with a mix of Top Gear and Fifth Gear

</code></pre>
          </section>
          <section>
            <h3>Doing a query</h3>
            <p>Like ActiveRecord, it uses lazy loading to only retrieve the data when you finish your querying.</p>
            <pre><code class="ruby">
ListingsIndex.
  query(fuzzy: { title: "gearr" }).
  limit(100).
  to_a # &lt;= Only sends the request here

</code></pre>
          </section>
          <section>
            <h3>Doing a query</h3>
            <p>
              <span class="code">filter</span>
              is like
              <span class="code">query</span>
              , but for when you want to reduce the matching set with exact values.
            </p>
            <pre><code class="ruby">
ListingsIndex.
  filter(term: { director: "Ridley Scott" }).
  filter { year &gt; 2000 }.
  to_a

</code></pre>
          </section>
          <section>
            <h3>Doing a query</h3>
            <p>Filters have some advanced syntax, but all they're doing under the hood is converting to a JSON format. You can pick and choose what style you use.</p>
            <pre><code class="ruby">
ListingsIndex.
  filter { title =~ /gear/ }.
  filter { year? }.
  filter { (year &gt; 2000) &amp; (year &lt; 2015) }.
  to_a

</code></pre>
          </section>
          <section>
            <h3>Doing a query</h3>
            <p>You can order and limit in exactly the same way as ActiveRecord.</p>
            <pre><code class="ruby">
ListingsIndex.
  filter { title =~ /gear/ }.
  order(start_at: :desc).
  limit(5).
  to_a

</code></pre>
          </section>
        </section>
        <section>
          <section>
            <h2>Keeping indices up to date</h2>
            <p>Chewy is pretty clever about updating indices whenever you modify relevant ActiveRecord models.</p>
            <pre><code class="ruby">
class Listing &lt; ActiveRecord::Base
  update_index('listings') { self }
end

</code></pre>
            <p class="fragment">This automatically updates indices incrementally when you do updates, creates and deletes.</p>
          </section>
          <section>
            <h3>Keeping indices up to date</h3>
            <p>You can trigger index changes when related models are modified</p>
            <pre><code class="ruby">
class Listing &lt; ActiveRecord::Base
  update_index('listings') { self }

  belongs_to :channel
end

class Channel &lt; ActiveRecord::Base
  update_index('listings') { listings }

  has_many :listings
end

</code></pre>
            <p class="fragment">This automatically updates indices incrementally when you do updates, creates and deletes.</p>
          </section>
          <section>
            <h3>Keeping indices up to date</h3>
            <p>You can also update them with batch operations:</p>
            <pre><code class="ruby">
# Destroy and create index
ListingsIndex.purge!

# Destroy and create index, then populate
ListingsIndex.reset!

# Import a different dataset
ListingsIndex::Listing.import Listing.where(some: :condition)

</code></pre>
            <p class="fragment">Handy for adding elasticsearch to your project after you have existing data.</p>
          </section>
        </section>
        <section>
          <h2>And there's lots more!</h2>
          <p class="fragment">
            <a href="https://www.elastic.co/guide/en/elasticsearch/guide/current/index.html">Lots of elasticsearch documentation</a>
          </p>
          <p class="fragment">
            <a href="https://github.com/toptal/chewy">Lots of chewy documentation</a>
          </p>
        </section>
        <section>
          <h2>The end</h2>
          <p>Questions?</p>
          <p class="fragment">Ask Omar</p>
        </section>
      </div>
    </div>
    <script>
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
          controls: true,
          progress: true,
          history: true,
          center: true,
          theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
          transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
      
          // Optional libraries used to extend on reveal.js
          dependencies: [
              { src: '../reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
              { src: '../reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '../reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '../reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: '../reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
              { src: '../reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
          ]
      });
    </script>
  </body>
</html>
