presentations/lotus-utils/index.haml
<!doctype html>
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Lotus Utils
    %meta{content: "Rescuing Rails apps", name: "description"}/
    %meta{content: "Jon Cairns", name: "author"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black-translucent", name: "apple-mobile-web-app-status-bar-style"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %link{href: "../extra.css", rel: "stylesheet"}/
    %link{href: "../reveal/css/reveal.min.css", rel: "stylesheet"}/
    %link#theme{href: "../reveal/css/theme/night.css", rel: "stylesheet"}/
    / For syntax highlighting
    %link{href: "../reveal/lib/css/zenburn.css", rel: "stylesheet"}/
    / If the query includes 'print-pdf', use the PDF print sheet
    :javascript
      document.write( '<link rel="stylesheet" href="../reveal/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    /[if lt IE 9]
      <script src="../reveal/lib/js/html5shiv.js"></script>
  %body
    %script{src: "../reveal/lib/js/head.min.js"}
    %script{src: "../reveal/js/reveal.min.js"}

    .reveal
      .slides
        %section
          %h1{style: "text-transform: lowercase;"} Lotus Utils
          %h2 AKA that gem you'd probably skip over
          %p
            %small
              %a{href: "http://joncairns.com"} Jon Cairns
              \/
              %a{href: "http://twitter.com/joonty"} @joonty

        %section
          %h2 What it is
          %p.fragment It's a set of classes that provide often-used features (e.g. HTML escaping) or augment existing classes (such as Hash).
          %p.fragment We'll take a look at some of the most useful.

        %section
          %h2.notrans Lotus::Utils::Inflector
          %p.fragment Pluralises/singularises words, based on standard English rules or a lookup table for the more difficult ones.
          %pre
            %code.fragment.ruby{include: "scripts/inflector.rb"}

        %section
          %h2.notrans Lotus::Utils::Kernel
          %p.fragment Adds methods that match common class names, to coerce other object types into these classes.
          %pre
            %code.fragment.ruby{include: "scripts/kernel.rb"}

        %section
          %h2.notrans Lotus::Utils::String
          %p.fragment Provides methods for changing strings into parameters, constants, etc. Also adds pluralisation methods.
          %pre
            %code.fragment.ruby{include: "scripts/string.rb"}

        %section
          %h2.notrans Lotus::Utils::PathPrefix
          %p.fragment Create unix-style paths without worrying about separators. Also used for routes.
          %pre
            %code.fragment.ruby{include: "scripts/path_prefix.rb"}

        %section
          %h2.notrans Lotus::Utils::Escape
          %p.fragment Safely escape special characters in HTML, HTML attributes and URLs.
          %pre
            %code.fragment.ruby{include: "scripts/escape.rb"}

        %section
          %h2.notrans Lotus::Utils::Attributes
          %p.fragment Hash-like object that allows you to access keys with strings or symbols, but stores internally with string keys.
          %pre
            %code.fragment.ruby{include: "scripts/attributes.rb"}

        %section
          %h2 And more
          %p.fragment Look up the API docs for more - it's the only place you can.

    :javascript
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
          controls: true,
          progress: true,
          history: true,
          center: true,
          theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
          transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

          // Optional libraries used to extend on reveal.js
          dependencies: [
              { src: '../reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
              { src: '../reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '../reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '../reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: '../reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
              { src: '../reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
          ]
      });

presentations/lotus-utils/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Lotus Utils</title>
    <meta content="Rescuing Rails apps" name="description">
    <meta content="Jon Cairns" name="author">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link href="../extra.css" rel="stylesheet">
    <link href="../reveal/css/reveal.min.css" rel="stylesheet">
    <link href="../reveal/css/theme/night.css" id="theme" rel="stylesheet">
    <!-- For syntax highlighting -->
    <link href="../reveal/lib/css/zenburn.css" rel="stylesheet">
    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="../reveal/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>
    <!--[if lt IE 9]>
      <script src="../reveal/lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <script src="../reveal/lib/js/head.min.js"></script>
    <script src="../reveal/js/reveal.min.js"></script>
    <div class="reveal">
      <div class="slides">
        <section>
          <h1 style="text-transform: lowercase;">Lotus Utils</h1>
          <h2>AKA that gem you'd probably skip over</h2>
          <p>
            <small>
              <a href="http://joncairns.com">Jon Cairns</a>
              /
              <a href="http://twitter.com/joonty">@joonty</a>
            </small>
          </p>
        </section>
        <section>
          <h2>What it is</h2>
          <p class="fragment">It's a set of classes that provide often-used features (e.g. HTML escaping) or augment existing classes (such as Hash).</p>
          <p class="fragment">We'll take a look at some of the most useful.</p>
        </section>
        <section>
          <h2 class="notrans">Lotus::Utils::Inflector</h2>
          <p class="fragment">Pluralises/singularises words, based on standard English rules or a lookup table for the more difficult ones.</p>
          <pre><code class="fragment ruby">
require "lotus/utils/inflector"

Lotus::Utils::Inflector.pluralize("cow") #=&gt; "cows"
Lotus::Utils::Inflector.pluralize("sheep") #=&gt; "sheep"
Lotus::Utils::Inflector.pluralize("chicken") #=&gt; "chickina" ??
Lotus::Utils::Inflector.singularize("chickens") #=&gt; "chicken"

</code></pre>
        </section>
        <section>
          <h2 class="notrans">Lotus::Utils::Kernel</h2>
          <p class="fragment">Adds methods that match common class names, to coerce other object types into these classes.</p>
          <pre><code class="fragment ruby">
require "lotus/utils/kernel"

Lotus::Utils::Kernel.Array(true)        # =&gt; [true]
Lotus::Utils::Kernel.Integer("1")       # =&gt; 1
Lotus::Utils::Kernel.Time('2014-04-18') # =&gt; 2014-04-18 00:00:00 +0200

</code></pre>
        </section>
        <section>
          <h2 class="notrans">Lotus::Utils::String</h2>
          <p class="fragment">Provides methods for changing strings into parameters, constants, etc. Also adds pluralisation methods.</p>
          <pre><code class="fragment ruby">
require "lotus/utils/string"

string = Lotus::Utils::String.new 'lotus_utils'
string.classify # =&gt; "LotusUtils"
string.titleize # =&gt; "Lotus Utils"
string.dasherize # =&gt; "lotus-utils"

string = Lotus::Utils::String.new 'chicken'
string.pluralize # =&gt; "chickina"

</code></pre>
        </section>
        <section>
          <h2 class="notrans">Lotus::Utils::PathPrefix</h2>
          <p class="fragment">Create unix-style paths without worrying about separators. Also used for routes.</p>
          <pre><code class="fragment ruby">
require "lotus/utils/path_prefix"

path_prefix = Lotus::Utils::PathPrefix.new('posts')
path_prefix.join('new').to_s  # =&gt; "/posts/new"
path_prefix.join('/new').to_s # =&gt; "/posts/new"

</code></pre>
        </section>
        <section>
          <h2 class="notrans">Lotus::Utils::Escape</h2>
          <p class="fragment">Safely escape special characters in HTML, HTML attributes and URLs.</p>
          <pre><code class="fragment ruby">
require "lotus/utils/escape"

Lotus::Utils::Escape.html('&lt;script&gt;alert(1);&lt;/script&gt;')
  #=&gt; "&amp;lt;script&amp;gt;alert(1);&amp;lt;&amp;#x2F;script&amp;gt;"

Lotus::Utils::Escape.html_attribute("some attribute")
  #=&gt; "some&amp;#x20;attribute"

Lotus::Utils::Escape.url("javascript:alert('xss')")
  #=&gt; ""

</code></pre>
        </section>
        <section>
          <h2 class="notrans">Lotus::Utils::Attributes</h2>
          <p class="fragment">Hash-like object that allows you to access keys with strings or symbols, but stores internally with string keys.</p>
          <pre><code class="fragment ruby">
require 'lotus/utils/attributes'

attributes = Lotus::Utils::Attributes.new(a: 1, b: { 2 =&gt; [3, 4] })
attributes.to_h # =&gt; { "a" =&gt; 1, "b" =&gt; { "2" =&gt; [3, 4] } }

</code></pre>
        </section>
        <section>
          <h2>And more</h2>
          <p class="fragment">Look up the API docs for more - it's the only place you can.</p>
        </section>
      </div>
    </div>
    <script>
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
          controls: true,
          progress: true,
          history: true,
          center: true,
          theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
          transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
      
          // Optional libraries used to extend on reveal.js
          dependencies: [
              { src: '../reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
              { src: '../reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '../reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: '../reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: '../reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
              { src: '../reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
          ]
      });
    </script>
  </body>
</html>
